@font-face {
    font-family: 'Founders';
    src: url('/fonts/FoundersGrotesk-Regular.woff');
}

body {
    font-family: 'Founders', 'Helvetica', 'Arial', sans-serif;
    background-image: url('../img/190101_STUDIOATOF_BG-0-min.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    font-size: 16px;
    color: white;
}

.wrapper {
    width: 100%;
}

.grid--fullHeight {
    height: 100vh;
}

header {
    text-align: center;
}

h1 {
    padding: 1.25em 0;
    color: white;
}

main {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.25em;
}

footer {
    font-size: 1.25em;
    text-align: center;
    padding-top: 1.25em !important;
    padding-bottom: 1em;

    line-height: 1em;
}

footer p {
    margin-bottom: 0;
}

