@font-face {
    font-family: 'Founders';
    src: url('/fonts/FoundersGrotesk-Regular.woff');
}

body {
    font-family: 'Founders', 'Helvetica', 'Arial', sans-serif;
}

header {
    text-align: center;
    padding: 1em;
}

main {
    text-align: center;
    padding: 1em;
}

footer {
    text-align: center;
    padding: 1em;
}

footer p {
    margin-bottom: 0;
}
