@font-face {
    font-family: 'Founders';
    src: url('/fonts/FoundersGrotesk-Regular.woff');
}

body {
    font-family: 'Founders', 'Helvetica', 'Arial', sans-serif;
}

header {
    padding: 1em;
}

main {
    padding: 1em;
}

footer {
    padding: 1em;
}

footer p {
    line-height: 1em;
}
